[Unit]
Description=Hautomation

[Service]
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:var/hautomation
Environment=NODE_ENV=production
ExecStart=/bin/sh -c '/var/hautomation/hautomation 2>&1 >> /var/log/hautomation.log'
Restart=always
WorkingDirectory=/var/hautomation

[Install]
WantedBy=multi-user.target
