image: hypriot/rpi-node

cache:
  paths:
  - node_modules/
  - ~/.pkg-cache/

before_script:
  - npm install
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - mkdir -p ~/.ssh
  - eval $(ssh-agent -s)
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

test:
  script:
  - npm run test-ci
  coverage: '/Statements   : \d+\.\d+/'

lint:
  script:
  - npm run lint

doc:
  script:
  - npm run doc
  - npm run doc-apis

build:
  script:
  - npm run build
  artifacts:
    paths:
    - build/*

deploy:
  script:
  - npm run build
  - ssh-add <(echo "$STAGING_PRIVATE_KEY")
  - ssh -p22 $STAGING_USER@$STAGING_IP "rm -Rf $STAGING_TMP_FOLDER/hautomation-core-deploy"
  - ssh -p22 $STAGING_USER@$STAGING_IP "mkdir $STAGING_TMP_FOLDER/hautomation-core-deploy"
  - scp -P22 -r build/* pi@$STAGING_IP:$STAGING_TMP_FOLDER/hautomation-core-deploy/
  - ssh -p22 $STAGING_USER@$STAGING_IP "cd $STAGING_TMP_FOLDER/hautomation-core-deploy/scripts && sh install.sh $STAGING_USER $STAGING_GROUP $STAGING_INSTALLATION_FOLDER"
